extends layout

block content
    h3.page-title=title
    <!-- ko foreach: { data: franchises() } -->
    a(href="#").list-group-item
        .row
            .col-12
                h4(data-bind="text: name").list-group-item-heading
        .row
            .col-12
                span division:&nbsp;
                span(data-bind="text: division").list-group-item-text
    <!-- /ko -->
block footercrumbs
    ul.breadcrumb
        li 
            a(href='/') Menu
        li
            a(href='/rightarm') RightArm
        li.active Franchises

block scripts
    script(type='text/javascript').
        var franchise = function() {
            var self = this
            self.name = ko.observable()
            self.logo = ko.observable()
            self.division = ko.observable()
        }
        var Page = function() {
            var self = this;
            self.franchises = ko.observable([])
            $.ajax({
                url: '/getLeague/28655',
                success: function (data) {
                    var dat = data.league.franchises.franchise;
                    var tmp = [];
                    for (var i = 0; i < dat.length; i++){
                        var f = new franchise()
                        f.name(dat[i].name)
                        f.logo(dat[i].logo)
                        f.division(dat[i].division)
                        tmp.push(f)
                    }
                    self.franchises(tmp)
                }
            });
        }
        $(document).ready(function(){
            var model = new Page();
            ko.applyBindings(model);
        })