extends layout



block content
    .jumbotron-index.text-center
        .container
            .row
                .col.col-lg-12.col-sm-12
                    .row
                        .col.col-lg-12.col-sm-12
                            p
                                a(href='/stocks/xbox').btn.btn-success.btn-block.btn-lg.jumbo-btn Xbox Stocks
                            p
                                a(href='/stocks/ps3').btn.btn-primary.btn-block.btn-lg.jumbo-btn PS3 Stocks