extends layout



block content
    .jumbotron-index.text-center
        .container
            .row
                .col.col-lg-12.col-sm-12
                    h1 Intel Chat
                    p Connecting Conference Rooms to Solutions
                    .row
                        .col.col-lg-12.col-sm-12
                            p
                                a(href='/sites').btn.btn-primary.btn-block.btn-lg.jumbo-btn Find Rooms