extends layout

block content
    .jumbotron-league.text-center
        .container
            .row
                .col.col-lg-12.col-sm-12
                    .row
                        .col.col-lg-12.col-sm-12
                            p
                                a(href='/rightarm/franchises').btn.btn-default.btn-block.btn-large.jumbo-btn Franchises
block footercrumbs
    ul.breadcrumb
        li 
            a(href='/') Menu
        li.active RightArm