html, body
    height 100%
.row.footercrumbs
    background-color #333
.breadcrumb
    margin-bottom 0
    background-color #333
.breadcrumb li.active
    color #ccc
.breadcrumb li a
    color darken(#428bca, 10)
.well-sm
    padding-left 0
.page-title
    margin-left 10px
.img-logo
    height 20px
    width 100px
.schedule-at
    margin-left 5px
    margin-right 5px
#wrap
    min-height 100%
    height auto !important
    height 100%
    margin -10px auto -60px
    padding 0 0 60px
    background-color #333
#footer
    height 150px
    background-color #222
    display block
    padding-top 30px
.jumbotron
    padding 100px 60px 80px
    min-height 400px
.jumbotron-index
    @extend .jumbotron
    background #b94a48
    color #fff

.jumbotron-league
    @extend .jumbotron
    background #1abc9c
    color #fff

.jumbotron p
    margin 20px auto
.jumbo-btn
    font-size 20px
    padding-top 10px
    padding-bottom 10px
.well.follow
    background-color #222
    color #FEFEFE
    border none
    font-size 30px
.follow-icon:not(:last-child)
    margin-right 20px
.well.follow .col-lg-3
    padding-right 0
.jumbotron h1
    font-size 80px
.jumbotron p
    color #ccc

body,h1,h2,h3,h4,h5,h6,p
    font-family 'Open Sans'

@media (max-width: 767px)
    .container
        margin-left -20px
        margin-right -20px
        padding-left 20px
        padding-right 20px